<html ng-app="overSeries">
<head>
    <meta charset="utf-8">
    <title>OverSeries</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Exo|Patrick+Hand+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/style.css">
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/js/app.js"></script>
    <script src="lib/js/controllers/overSeriesCtrl.js"></script>
</head>
<body ng-controller="overSeriesCtrl">

    <div class="top">
        <form>
            <span class="titulo">OverSeries</span>
            <input class="search-box" type="text" ng-model="input" name="input" placeholder="Digite sua pesquisa aqui" onfocus="placeholder=''" onblur="placeholder='Digite sua pesquisa aqui'"/>
            <button id="search-button" class="search-button" ng-click="searchInput()"><i class="glyphicon glyphicon-search"></i></button>
        </form>
    </div>

    <nav class="option-bar">
        <ul>
            <li>
                <input type="radio" name="tabs" class="radio-tab" id="profile" checked>
                <label for="profile" class="tab-label">PERFIL</label>
                <div class="tab-content">
                    <div ng-show="profile.length > 0">
                        <div class="gallery">
                            <div class="imgContainer" ng-repeat="serie in profile">
                                <img class="img-thumbnail" src="{{serie.Poster !== 'N/A' ? serie.Poster:'lib/img/poster.jpg'}}" width="200px" height="297px">
                                <div class="middle">
                                    <div class="serie-title">{{serie.Title}}</div>
                                    <div class="buttons">
                                        <button class="info-button btn btn-primary" ng-click="setSerieToDisplay(serie)" data-toggle="modal" data-target="#myModal{{$index}}">SOBRE</button>
                                        <button class="remove-button btn btn-danger" ng-click="removeProfile(serie)">REMOVER</button>
                                    </div>
                                </div>
                                <div  class="modal fade"  role="dialog" id="myModal{{$index}}">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">{{serie.Title}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <img src="{{serie.Poster !== 'N/A' ? serie.Poster:'noImageAvailable.gif'}}" align="left">
                                                    <p><b>Gênero: </b>{{serie.Genre}}</p>
                                                    <p><b>IMDB Nota: </b>{{serie.imdbRating}}</p>
                                                    <p><b>Faixa Etária: </b>{{serie.Rated}}</p>
                                                    <p><b>Sinopse: </b>{{serie.Plot}}</p>
                                                    <b>
                                                    <p><b>Sua Nota: </b>{{serie.userRating}}
                                                        <div class="form-group">
                                                            <input type="text" ng-model="userRating" placeholder="Ex.: 10.0">
                                                            <button class="btn btn-default btn-sm" ng-click="serie.userRating= userRating"type="button"><i class="glyphicon glyphicon-ok-sign" style="color: red"></i>  </button>
                                                        </div>
                                                        <p><b>Último Episódio: </b>{{serie.lastEpisode}}</p>
                                                        <div class="form-group">
                                                            <input type="text" ng-model="lastEpisode" placeholder="Ex.: S01E01">
                                                            <button class="btn btn-default btn-sm" type="button" ng-click="serie.lastEpisode = lastEpisode"><i class="glyphicon glyphicon-ok-sign" style="color: red"></i>  </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" id="search" class="radio-tab" name="tabs">
                    <label for="search" class="tab-label">PESQUISA</label>
                    <div class="tab-content">
                        <div ng-show="searchMade.length > 0">
                            <div class="gallery">
                                <div class="imgContainer" ng-repeat="serie in searchMade">
                                    <img class="img-thumbnail" src="{{serie.Poster !== 'N/A' ? serie.Poster:'lib/img/poster.jpg'}}" width="200px" height="297px">
                                    <div class="middle">
                                        <div class="serie-title">{{serie.Title}}</div>
                                        <div class="buttons">
                                            <button class="add-button-search-profile btn " ng-click="addProfile(serie)">PERFIL</button>
                                            <button class="add-button-search-watchlist btn" ng-click="addWatchlist(serie)">WATCHLIST</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" class="radio-tab" id="watchlist">
                    <label for="watchlist" class="tab-label">WATCHLIST</label>
                    <div class="tab-content">
                        <div ng-show="watchlist.length > 0">
                            <div class="gallery">
                                <div class="imgContainer" ng-repeat="serie in watchlist">
                                    <img class="img-thumbnail" src="{{serie.Poster !== 'N/A' ? serie.Poster:'lib/img/poster.jpg'}}" width="200px" height="297px">
                                    <div class="middle">
                                        <div class="serie-title">{{serie.Title}}</div>
                                        <div class="buttons">
                                            <button class="add-button btn btn-primary" ng-click="addProfile(serie); removeWatchlistNoWarning(serie)">PERFIL</button>
                                            <button class="remove-button btn btn-danger" ng-click="removeWatchlist(serie)">REMOVER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </body>
    </html>
